.table-quanlydiaphuong {

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--button {
            margin-left: 5px;
        }
    }
}