.detailChildrenForm {

    &__formik {
        
        &--paper {
            padding : 10px;
        }

        &--field_father{
            float: left;
        }

        &--button_father{
            float: left;
        }
    }
}